<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <style>
        body {
            background: #4fc08d;
            color: #fff;
        }

        [v-cloak] {
            display: none
        }
    </style>
    <script src='../../lib/vue.js'></script>
</head>

<body>
    <div id='app'>

        <div v-if="!isShow">
            <label for="">username</label>
            <input type="text" placeholder="username" key="username">
        </div>
        <div v-else>
            <label for="">password</label>
            <input type="text" placeholder="password" key="password">
        </div>
        <keep-alive>
        </keep-alive>
        <button @click="isShow=!isShow">toggle</button>
        <base-checkbox v-model="lovingVue"></base-checkbox>
        <div>
            <label for="male">男</label><input value="男" type="radio" v-model="sex" name="sex" id="male">
            <label for="female">女</label><input value="女" type="radio" v-model="sex" name="sex" id="female">
            <p>您选择的是：{{ sex }}</p>
        </div>
        <p>{{ msg }}</p>
    </div>
    <script>
        Vue.component('base-checkbox', {
            // model: {
            //     prop: 'checked',
            //     event: 'change'
            // },
            props: {
                checked: Boolean
            },
            template: `
                <div>
                    <input
                    v-model="checked"
                    type="checkbox"
                    v-bind:checked="checked"
                    >
                    您选择的是{{ checked }}
                </div>
            `
        })
        const vm = new Vue({
            el: '#app',
            data: {
                isShow: false,
                lovingVue: false,
                sex: '',
                msg: 'hello'
            },
            methods: {}
        });
    </script>
</body>

</html>